.all {
  background: #e5e5e5;
  height: 4000px;
  width: 375px;
}

.top-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 600px;
  width: 375px;
  align-self: center;
  align-items: center;
  border-bottom-left-radius: 50px;
}

.header {
  display: flex;
  height: 50px;
  width: 100%;
}

.logo {
  padding-top: 8px;
  display: flex;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  margin-left: 18px;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.logo:hover {
  color: #babfed;
  transform: translate(0, -2px);
}

.menu {
  padding-left: 200px;
  cursor: pointer;
  transition: ease-in;
}

.menu:hover {
  transform: translate(0, -1px);
}

.bg {
  display: flex;
  gap: 14px;
  flex-direction: column;
  height: 408px;
  width: 100%;
  background-image: url("image/shapes.png");
  padding: 24px;
  padding-top: 50px;
}

.name {
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  align-items: center;
  color: #172b4d;
  padding: 24px;
}

.content {
  height: 93px;
  margin: 24px;
  margin-left: 1px;
  padding-left: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  margin-top: 2px;
  margin-left: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #7f8cff;
}

.social-1 {
  display: flex;
  gap: 4px;
  margin-left: 24px;
  padding-left: 1px;
  margin-top: -10px;
}

.social {
  display: flex;
  gap: 4px;
  margin-left: 1px;
  padding-left: 1px;
}

ul {
  display: flex;
  list-style-type: none;
}

li:hover {
  transform: translate(0, -2px);
}

.grid-container {
  display: grid;
  height: 2700px;
  justify-content: center;
  align-content: center;
  row-gap: 80px;
}

.grid-item {
  display: flex;
  padding: 15px;
  align-items: center;
  flex-direction: column;
  background: #fff;
  width: 300px;
  height: 520px;
  border-radius: 12px;
  border-color: #a24a4a72;
  border-style: solid;
  border-width: 1px;
}

.grid-item-2 {
  display: flex;
  padding: 15px;
  align-items: center;
  flex-direction: column;
  background: #fff;
  width: 300px;
  height: 560px;
  border-radius: 12px;
  border-color: #a24a4a72;
  border-style: solid;
  border-width: 1px;
}

.grid-item-photo {
  width: 295px;
  height: 220px;
  border-radius: 12px;
}

.grid-item-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  padding: 15px;
}

.title {
  justify-content: center;
  padding: 1px;
  margin: 1px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  align-items: center;
  color: #172b4d;
}

.sub-title {
  display: flex;
  gap: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 1px;
}

.sub-title-2 {
  display: flex;
  gap: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 1px;
  margin-top: 60px;
}

.counter + .counter::before {
  content: url("image/Counter.png");
  padding-right: 6px;
}

.counter {
  font-family: Arial, Helvetica, sans-serif;
  color: #486493;
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  padding-left: 6px;
}

.content-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  padding: 1px;
  margin-top: 4px;
}

.category {
  text-decoration: none;
  display: flex;
  margin-top: 1px;
  gap: 12px;
  padding-left: 1px;
  padding-top: 1px;
}

.category-list {
  text-decoration: none;
  background: rgb(235, 232, 228);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 20px;
  width: auto;
  padding: 4px 9px;
  margin: 1px;
  justify-content: center;
  align-content: center;
}

a {
  text-decoration: none;
}

.project {
  font-family: Arial, Helvetica, sans-serif;
  color: #486493;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  width: fit-content;
  padding: 15px;
  border-radius: 12px;
  border-color: #6070ff;
  margin-top: 1px;
}

.project:hover {
  color: #babfed;
  transform: translate(0, -2px);
}

.about {
  background: #fff;
  border-top-right-radius: 50px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: fit-content;
  padding: 12px;
  padding-top: 1px;
}

.name-2 {
  width: 200px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  align-items: center;
  color: #172b4d;
  padding: 24px;
}

.able {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.list {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  align-items: center;
  color: #000;
  height: 60px;
  width: fit-content;
  gap: 6px;
}

.list-2 {
  width: 80%;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #000;
  height: 66.72px;
  background: #f7f7f9;
  gap: 10px;
  border-radius: 12px;
  padding-left: 12px;
}

.list-3 {
  width: 50px;
  padding-top: 6px;
}

.list-4 {
  width: 130px;
  padding-top: 6px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  background: #6070ff;
  border-top-left-radius: 50px;
  background-image: url("image/contact.png");
  background-size: cover;
  height: fit-content;
  width: 320px;
  padding: 24px;
  padding-top: 50px;
  align-content: center;
}

.contact-title {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  padding: 2px;
  width: 300px;
  text-align: center;
}

.content-3 {
  color: #fff;
  height: fit-content;
  margin-top: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  width: 300px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 12px;
}

.text-me {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-items: center;
}

input {
  font-size: 16px;
  padding: 8px;
  width: 290px;
  height: 40px;
  border-radius: 12px;
  border-style: none;
}

textarea {
  font-size: 16px;
  margin-top: 1px;
  padding: 8px;
  width: 290px;
  height: 120px;
  border-radius: 12px;
  border-style: none;
}

.touch {
  font-family: Arial, Helvetica, sans-serif;
  color: #486493;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  width: fit-content;
  padding: 15px;
  border-radius: 12px;
  border-color: #6070ff;
}

.touch:hover {
  color: #babfed;
  transform: translate(0, -2px);
}
